body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 2rem;
}

button.active {
  background-color: #016e30;
  color: white;
  border-width: 1px;
  border: 1px solid #09ff00;
  margin-bottom: 1%;
  /* Add space below the active button */
  gap: 0.5rem;
}


button {
  background-color: whitesmoke;
  color: black;
  border: black;
  border-radius: 10%;
  font-family: 'Cascadia Code', Courier, monospace;
  margin: 0.5%;
  /* Adds space between buttons */
}

.playlist {
  display: grid;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr;
  /* default: 1 column */
}

/* Media query for desktop (≥768px) */
@media screen and (min-width: 768px) {
  .playlist {
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 columns on desktop */
  }
}


.track-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.spotify-embed {
  width: 100%;
  height: 152px;
  border: none;
}

#ParentButtons {
  text-align: center;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

#Fronttext {
  font-family: "Press Start 2P", system-ui;
  color: #008000;
}

.merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
